.review.card(id= review.id)
  .numbers.like-badge
    .number
      span.number.num-likes= review.numLikes

  .card-body
    .content= review.content
  .row.card-body
    .col-sm
    .col-sm.text-right
      .author
        | reviewed on #{moment(review.createdAt).format('YYYY-MM-DD')}
        if review.author
          | 
          | by #[a(href=`/users/${review.author.id}`)= review.author.name]
  .row.card-body
    .col-sm
    .col-sm.text-right
      if events.author && currentUser && events.author.id == currentUser.id
.answers.show
  each answer in answers
    if review.id == answer.review
      include _answer

if events.author && currentUser && events.author.id == currentUser.id
  form(action=`/events/${review.id}/answers`, method='POST')
    .form-group
      label(for='answerS') Your answer
      textarea.form-control(name="answer", rows="5")
    button.btn.btn-primary(type="submit", href=`/events/${review.id}/answers?_method=post`) Post Your Answer

