extends ../layout

block content
  .container
    h1.main-title= events.title

    .event.show
      include _events

      .buttons
        if currentUser
          button.btn.btn-primary.event-participation-btn(data-id=events.id) 
            span.for-loading #[i.fa.fa-spin.fa-refresh] Loading
            span.btn #[i.fa.fa-thumbs-up] participation
            
          if events.author && events.author.id == currentUser.id
            | 
            a.btn.btn-outline-secondary(href=`/events/${events.id}/edit`) Edit
            | 
            a.btn.btn-outline-danger.need-confirm-btn(href=`/events/${events.id}?_method=delete`) Delete
    
      if events.numReviews > 0
        hr
        h3 #{events.numReviews} review(s)
        .reviews.show
          each review in reviews
            include _review
            

      if currentUser
        if events.author != currentUser
          form(action=`/events/${events.id}/reviews`, method='POST')
            .form-group
              label(for='review') Your review
              textarea.form-control(name="content", rows="3")
            button.btn.btn-primary(type="submit") Post Your review
        

  script(src='/javascripts/events_client.js')