extends layout

block content
  .container-fluid
    img.img-responsive(src='https://cdn.evbstatic.com/s3-build/perm_001/35d88f/django/images/home/banners/homepage_hero_banner_1.jpg', alt='picture of ian')
    section#card-content
      .col-centeredcard.text-card.text-center.col-md-10.col-lg-8
        h1.text-card-heading Find your next experience
        form.form-inline.col-md-8.col-lg-8.col-centered
          input#inlineFormInputEvent.form-control-lg.searchForm(type='text', placeholder='Search events or categories')
          input#inlineFormInputLocation.form-control-lg.searchForm(type='text', placeholder='City or location')
          select#selectFormDate.custom-select.form-control-lg
            option(selected='') All Dates
            option(value='1') Today
            option(value='2') Tomorrow
            option(value='3') This Week
            option(value='4') This Weekend
            option(value='5') Next Week
            option(value='6') Next Month
          button.btn.btn-search(type='button') Search
    section#post-grids
      h1.post-heading
        | Popular Events in 
        span#text-color-blue Seoul, Republic of Korea
      .posts-container.col-centered.card-columns.col-md-10
        each event in events
          .card
            img.img-fluid(src= event.img)
            .card-body
              a.eventtitle(href=`/events/${event.id}`)=event.title
              |
              p.event-date=event.location
              p.event-date=event.startTime
              p.event-date=event.finishTime
              p.specific-info=content
            .card-footer.nav
              ul.nav
                li.nav-item
                  p.hash-tag.nav-link=eventType
                li.nav-item
                  p.hash-tag.nav-link=eventTopic
              ul.navbar-nav.ml-auto
                li.nav-item
                  a.fa.fa-facebook(href='#')
                  a.fa.fa-twitter(href='#')
    .text-center
      button#see-more-btn.btn-lg.btn-outline-primary(type='button') SEE MORE
    section#Top-categories
      .text-center
        h3#browse-category-text Browse by Top Categories
      .container.categories-container.col-lg-10.col-centered.row
        .category.music.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://events.ottawaperks.ca/assets/img/event-categories/5_cover.jpg', alt='music image')
          .caption.music-label
            p.caption-text Music
        .category.food-N-drink.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://foodtank.com/wp-content/uploads/2017/03/Food-Tank-Keri-Glassman-interview.jpg', alt='food image')
          .caption.food-N-drink-label
            p.caption-text Food-&amp;-drink
        .category.classes.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://i.huffpost.com/gen/1265935/images/h-COLLEGE-CLASS-628x314.jpg', alt='classes image')
          .caption.classes-label
            p.caption-text Classes
        .category.arts.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0gMlhAZC1KGnqj9jk28zR5uJwows0TiGcS7pVJcY96k1DWxywJg', alt='arts image')
          .caption.arts-label
            p.caption-text Arts
        .category.parties.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEAOgj8Y0pZJq1qc6eKYmYwW6iQH9u9EoE74QDVAAs2y7OibDstw', alt='party image')
          .caption.parties-label
            p.caption-text Parties
        .category.sports-N-wellness.col-lg-4.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbEZw55kKTOGS1aUupVybiXTV7p454ViNulZDts40PSpnLQi52IA', alt='sports image')
          .caption.sports-N-wellness-label
            p.caption-text Sports-N-wellness
        .category.networking.col-lg-8.col-md-6.thumbnail.text-center
          img.card-image.rounded(src='http://businesspulse.co/wp-content/uploads/2017/08/Networking-events.jpg', alt='networking image')
          .caption.networking-label
            p.caption-text Networking

  block footer
    include ./includes/footer
